.pull-left a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;    
}

.pull-left li {
  display: inline;
}

.pull-right a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;    
}

.pull-right li {
  display: inline;
}

.navigation {
    border-bottom: 2px solid blue;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
}